<div class="comment-top">
    <h4>Bir yorum yapın</h4>
    <div class="comment-bottom">
        <form asp-action="PartialAddComment" asp-controller="Comment" method="post">
            <div class="col">
                <input type="hidden" class="form-control" name="BlogID" placeholder="Blog id" value="@ViewBag.CommentId" required="">
            </div>           
            <input type="hidden" class="form-control" id="txtad" name="CommentUserName" placeholder="@ViewBag.user" required="">
            <input type="text" class="form-control" id="txtkonu"  name="CommentTitle" placeholder="Konu" required="">
            <textarea class="form-control" id="txtyorum" name="CommentContent" placeholder="Yorumunuz..." required=""></textarea>
            <input type="submit" class="btn btn-success read-m" id="btn" value="Yorum Yap">
        </form>
    </div>
</div>
