<div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
    <span>Hoşgeldin @ViewBag.user</span>
    <span class="mx-lg-4 mx-md-2  mx-1">
        <a href="/Login/Index/">
            <i class="fas fa-lock"></i> Giriş Yap
        </a>
    </span>
    <span>
        <a href="/RegisterUser/Index/">
            <i class="far fa-user"></i> Kayıt Ol
        </a>
    </span>
    <br />
    <span>
        <a href="/Dashboard/Index/">
            <i class="far fa-user"></i>Yazar Paneline Git
        </a>
    </span>
    <span>
        <a href="/Admin/Widget/Index/">
            <i class="far fa-user"></i>Admin Paneline Git
        </a>
    </span>
</div>