<div class="header_top" id="home">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Blog/Index/">BLOGLAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/About/Index/">HAKKIMIZDA</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        İL TEMSİLCİLİĞİ
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"></a>
                        <a class="dropdown-item" href="#">İL TEMSİLCİSİ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Representation/Index/">İL HAKEM KURULU</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">İL TERTİP KOMİTESİ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">ESKİ İL TEMSİLCİLERİMİZ</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        GÖREVLİLERİMİZ
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"></a>
                        <a class="dropdown-item" href="#">HAKEM DEĞERLENDİRİCİLERİMİZ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">FEDERASYON TEMSİLCİLERİMİZ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">KLASMAN HAKEMLERİMİZ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">HAKEMLERİMİZ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">MASA GÖREVLİLERİMİZ</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        MEVZUAT
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"></a>
                        <a class="dropdown-item" href="#">YÖNERGELER</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">STATÜLER</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">DOKÜMANLAR</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">EĞİTİM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contact/Index/">İLETİŞİM</a>
                </li>
            </ul>
            <form action="@Url.Action("Arama","Blog")" method="get" class="form-inline my-2 my-lg-0 header-search">
                <input class="form-control mr-sm-2" type="search" placeholder="Aranacak kelime..." name="q" required="">
                <button class="btn btn1 my-2 my-sm-0" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </nav>
</div>
