<div class="tech-btm widget_social">
    <h4>Sosyal Medya Hesaplarımız</h4>
    <ul>

        <li>
            <a class="btn btn-primary m-1" style="background-color: #55acee;" href="https://x.com/ankara_basket">
                <i class="fab fa-X"></i>
                <span class="count"></span> X
            </a>
        </li>
        <li>
            <a class="btn btn-primary m-1" style="background-color: rgb(172, 43, 172);" href="https://www.instagram.com/ankarabasketbol_iltemsilciligi/">
                <i class="fab fa-instagram"></i>
                <span class="count"></span> Instagram
            </a>
        </li>
    </ul>
</div>